@font-face {
  font-family: 'SamplyF';
  src: url('../fonts/SamplyF-Bold.woff2') format('woff2'),
    url('../fonts/SamplyF-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SamplyF';
  src: url('../fonts/SamplyF-Light.woff2') format('woff2'),
    url('../fonts/SamplyF-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SamplyF';
  src: url('../fonts/SamplyF-Regular.woff2') format('woff2'),
    url('../fonts/SamplyF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SamplyF';
  src: url('../fonts/SamplyF-Medium.woff2') format('woff2'),
    url('../fonts/SamplyF-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
